---
import '../styles/global.css';
import Header from '../components/header.astro';
import Card from '../components/card.astro';
import products from '../data/products.json'; // Astro importa el JSON directo
---
<Header />
<main class="max-w-6xl mx-auto p-10">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    
   {products.map((pc) => (
      <Card 
        id={pc.id}        /* <-- AÑADE ESTO PARA EL ENLACE DINÁMICO */
        title={pc.nombre} 
        price={pc.precio} 
        specs={pc.specs} 
        img={pc.imagen} 
        link={pc.link} 
      />
    ))}

  </div>
</main>



<footer class="mt-20 py-10 border-t border-gray-200 bg-gray-100">
  <div class="max-w-6xl mx-auto px-4 text-center">
    <p class="text-sm text-gray-500 italic">
      "Como afiliado de Amazon, percibo ingresos por compras adscritas que cumplen los requisitos aplicables. Los precios y la disponibilidad pueden variar."
    </p>
  </div>
</footer>
